{% extends 'base.html' %}
{% load static %}
{% block title %}Detail{% endblock %}
{% block scripts %}
<script src="{% static 'detail.js' %}"></script>

{% endblock %}

{% block styles %}
<style>
  #input:focus + #detail_search_res, #detail_search_res:hover{
    display: block;
  }

  #popup{
    right: 5%;
    top: 80vh;
    position: fixed;
  }
</style>
{% endblock %}



{% block content %}

<div class="container bg-dark1 rounded">
  <table id="table" class="table text-light" url="{% url 'api:storage-detail' pk=pk %}" url_list="{% url 'api:storage_list' %}">
    <tr>
      <th><span>№</span></th>
      <td><input id="id" type="text" readonly class="text form-control-plaintext text-light"  value="{{obj.id}}"></td>
    </tr>
    <tr>
      <th><span>Наименование</span></th>
      <td>
        <form class='input'>
          <input id="name" name='Наименование' type="text" class="text form-control-plaintext text-light"  value="{{obj.name}}">
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    <tr>
      <th><span>Сап</span></th>
      <td>
        <form class='input'>
          <input id="sap" name='Сап' type="text" class="text form-control-plaintext text-light"  value="{{obj.sap}}">
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    <tr>
      <th><span>Старый сап</span></th>
      <td>
        <form class='input'>
          <input id="sap_old" name='Старый сап' type="text" class="text form-control-plaintext text-light"  value="{{obj.sap_old}}">
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    <tr>
      <th><span>Категория</span></th>
      <td>
        <select id="cat_id" name='Категория' class="select form-control-plaintext text-light" aria-label="Default select example" name='cat_id' url='{% url "api:cat-list" %}' value='{{ obj.cat_id }}'>
          {% if not obj.cat_id %}
            <option selected class="bg-dark1" value=0>Select....</option>
          {% else %}
            <option  class="bg-dark1" value=0>Select....</option>
          {% endif %}
          {% for el in cats %}
            {% if el.id == obj.cat_id %}
            <option selected class="bg-dark1" value="{{el.id}}">{{el.name}}</option>
            {% else %}
              <option class="bg-dark1" value="{{el.id}}">{{el.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th><span>Субкатегория</span></th>
      <td>
        <select id="subcat_id" name='Субкатегория' class="select form-control-plaintext text-light" aria-label="Default select example" name='subcat_id' url='{% url "api:subcat-list" %}' value='{{ obj.subcat_id }}'>
          {% if not obj.subcat_id %}
            <option selected class="bg-dark1" value=0>Select....</option>
          {% else %}
            <option  class="bg-dark1" value=0>Select....</option>
          {% endif %}
          {% for el in subcats %}
            {% if el.id == obj.subcat_id %}
              <option selected class="bg-dark1" value="{{el.id}}">{{el.name}}</option>
            {% elif el.cat_id == obj.cat_id %}
              <option class="bg-dark1" value="{{el.id}}">{{el.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th><span>Состояние</span></th>
      <td>
        <select id="state_id" name='Состояние' class="select form-control-plaintext text-light" aria-label="Default select example" name='state_id' url='{% url "api:state-list" %}'>
          {% if not obj.state_id %}
            <option selected class="bg-dark1" value=0>Select....</option>
          {% else %}
            <option  class="bg-dark1" value=0>Select....</option>
          {% endif %}
          {% for el in states %}
            {% if el.id == obj.state_id %}
            <option selected class="bg-dark1" value="{{el.id}}">{{el.name}}</option>
            {% else %}
              <option class="bg-dark1" value="{{el.id}}">{{el.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th><span>Владелец</span></th>
      <td>
        <form class='input'>
          <input id="owner_id" name='Владелец' type="text" class="text form-control-plaintext text-light"  value="{{obj.owner_id}}">
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    <tr>
      <th><span>Имя владельца</span></th>
      <td>
        <form class='input'>
          <input id="owner_name" name='Имя владельца' type="text" class="text form-control-plaintext text-light"  value="{{obj.owner_name}}">
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    <tr>
      <th><span>Ответственный</span></th>
      <td>
        <select id="resp_id" name='Ответственный' class="select form-control-plaintext text-light" aria-label="Default select example" name='resp_id' url='{% url "api:resp-list" %}'>
          {% if not obj.resp_id %}
            <option selected class="bg-dark1" value=0>Select....</option>
          {% else %}
            <option  class="bg-dark1" value=0>Select....</option>
          {% endif %}
          {% for el in resps %}
            {% if el.id == obj.resp_id %}
              <option selected class="bg-dark1" value="{{el.id}}">{{el.firstname}} {{el.secondname}}</option>
            {% else %}
              <option class="bg-dark1" value="{{el.id}}">{{el.firstname}} {{el.secondname}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th><span>Дата открытия</span></th>
      <td><input id="date_open" type="text" readonly class="form-control-plaintext text-light" name="date_open" value="{{obj.date_open}}" ></td>
    </tr>
    <tr>
      <th><span>Дата назначения</span></th>
      <td><input id="date_assign" type="text" readonly class="form-control-plaintext text-light" name="date_assign" value="{{obj.date_assign}}" ></td>
    </tr>
    <tr>
      <th><span>Модель</span></th>
      <td>
        <form class='input'>
          <input id="model" name='Модель' type="text" class="text form-control-plaintext text-light"  value="{{obj.model}}">
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    <tr>
      <th><span>Серийный номер</span></th>
      <td>
        <form class='input'>
          <input id="serial_number" name='Серийный номер' type="text" class="text form-control-plaintext text-light"  value="{{obj.serial_number}}">
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    <tr>
      <th><span>Производитель</span></th>
      <td>
        <form class='input'>
          <input id="manufacturer" name='Производитель' type="text" class="text form-control-plaintext text-light"  value="{{obj.manufacturer}}">
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    <tr>
      <th><span>Дата изменения</span></th>
      <td><input id="modified_date" type="text" readonly class="form-control-plaintext text-light" name="modified_date" value="{{obj.modified_date}}" ></td>
    </tr>
    <tr>
      <th><span>Адрес</span></th>
      <td>
        <form class='input'>
          <input id="address_id" name='Адрес' type="text" class="text form-control-plaintext text-light"  value="{{obj.address_id}}">
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    <tr>
      <th><span>Этаж</span></th>
      <td>
        <form class='input'>
          <input id="floor" name='Этаж' type="text" class="text form-control-plaintext text-light"  value="{{obj.floor}}">
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    <tr>
      <th><span>Описание</span></th>
      <td>
        <form class='input'>
          <textarea id="description" name='Описание' class="text form-control-plaintext text-light"  >{{obj.description}}</textarea>
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
    
  </table>
</div>




{% endblock %}

