{% extends 'base.html' %}
{% load static %}
{% block title %}Detail{% endblock %}
{% block scripts %}
<script src="{% static 'detail.js' %}"></script>
  
{% endblock %}


{% block buttons %}
<a href="{% url 'home' %}"><button class="btn btn-secondary">Back</button></a> <br>
{% endblock %}

{% block content %}
<form class="text-light" id='form' url="{% url 'api:storage-detail' pk %}">
  {% csrf_token %}
  <table class="table table-striped table-dark">
    <tr>
      <th><span>ID</span></th>
      <td><input id="id" type="text" readonly class="form-control-plaintext text-light"  value=""></td>
    </tr>
    <tr>
      <th><span>Name</span></th>
      <td><input id="name" type="text" class="form-control-plaintext text-light" name="name"  value=""></td>
    </tr>
    <tr>
      <th><span>Sap</span></th>
      <td><input id="sap" type="text" class="form-control-plaintext text-light" name="sap"  value=""></td>
    </tr>
    <tr>
      <th><span>Sap_old</span></th>
      <td><input id="sap_old" type="text" class="form-control-plaintext text-light" name="sap_old"  value=""></td>
    </tr>
    <tr>
      <th><span>Cat_id</span></th>
      <td>
        <select id="cat_id" class="form-control-plaintext text-light" aria-label="Default select example" name='cat_id' url='{% url "api:cat-list" %}' value=''>
          
        </select>
      </td>
    </tr>
    <tr>
      <th><span>Subcat_id</span></th>
      <td>
        <select id="subcat_id" class="form-control-plaintext text-light" aria-label="Default select example" name='subcat_id' url='{% url "api:subcat-list" %}' value=''>
          
        </select>
      </td>
    </tr>
    <tr>
      <th><span>State_id</span></th>
      <td>
        <select id="state_id" class="form-control-plaintext text-light" aria-label="Default select example" name='state_id' url='{% url "api:state-list" %}'>
          
        </select>
      </td>
    </tr>
    <tr>
      <th><span>owner_id</span></th>
      <td><input id="owner_id" type="text" class="form-control-plaintext text-light" name="owner_id"  value=""></td>
    </tr>
    <tr>
      <th><span>Owner_name</span></th>
      <td><input id="owner_name" type="text" class="form-control-plaintext text-light" name="owner_name"  value=""></td>
    </tr>
    <tr>
      <th><span>Resp_id</span></th>
      <td>
        <select id="resp_id" class="form-control-plaintext text-light" aria-label="Default select example" name='resp_id' url='{% url "api:resp-list" %}'>
          
        </select>
      </td>
    </tr>
    <tr>
      <th><span>date_open</span></th>
      <td><input id="date_open" type="text" readonly class="form-control-plaintext text-light" name="date_open" value="" ></td>
    </tr>
    <tr>
      <th><span>date_assign</span></th>
      <td><input id="date_assign" type="text" readonly class="form-control-plaintext text-light" name="date_assign" value="" ></td>
    </tr>
    <tr>
      <th><span>Model</span></th>
      <td><input id="model" type="text" class="form-control-plaintext text-light" name="model"  value="" ></td>
    </tr>
    <tr>
      <th><span>serial_number</span></th>
      <td><input id="serial_number" type="text" class="form-control-plaintext text-light" name="serial_number"  value="" ></td>
    </tr>
    <tr>
      <th><span>manufacturer</span></th>
      <td><input id="manufacturer" type="text" class="form-control-plaintext text-light" name="manufacturer"  value="" ></td>
    </tr>
    <tr>
      <th><span>modified_date</span></th>
      <td><input id="modified_date" type="text" readonly class="form-control-plaintext text-light" name="modified_date" value="" ></td>
    </tr>
    <tr>
      <th><span>address_id</span></th>
      <td><input id="address_id" type="text" class="form-control-plaintext text-light" name="address_id"  value=""></td>
    </tr>
    <tr>
      <th><span>floor</span></th>
      <td><input id="floor" type="text" class="form-control-plaintext text-light" name="floor"  value=""></td>
    </tr>
    <tr>
      <th><span>description</span></th>
      <td><textarea id="description" class="form-control-plaintext text-light" rows="4"  name="description"></textarea></td>
    </tr>
  </table>
</form>



{% endblock %}

<!-- min="2018-01-01" max="2018-12-31" -->