{% extends 'base.html' %}
{% load static %}
{% block title %}Item list{% endblock %}

{% block scripts %}
<script src="{% static 'main.js' %}"></script>
{% endblock %}

{% block content %}


<div class="table-responsive">
	<table id="table" url='{% url "api:storage_list" %}' class="table  bg-dark1 text-light table-sm">
		<thead>
			<tr>
			<th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col"></th>
			</tr>
		</thead>
		<tbody id="result">
		</tbody>
	</table>
</div>

{% endblock %}