{% extends 'base.html' %}
{% load static %}
{% block title %}Item list{% endblock %}

{% block scripts %}
<script src="{% static 'home.js' %}"></script>
{% endblock %}



{% block styles %}
<style>
	
</style>
{% endblock %}




{% block content %}


<div class="table-responsive">
	<table id="table" url='/api/storages/' class="table  bg-dark1 text-light table-sm">
		<thead>
			<tr>
			<th scope="col">SAP</th>
			<th scope="col">Наименование</th>
			<th scope="col"></th>
			</tr>
		</thead>
		<tbody id="result">
		</tbody>
	</table>
</div>

{% endblock %}